@page "/currencies"
@addTagHelper *, BlazorStrap
@inherits Blazor.Frontend.Pages.Currency.CurrencyMainModel

<h1>Currencies</h1>

@if (Currencies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Actions</td>
                <th>@nameof(CurrencyDto.Id)</th>
                <th>@nameof(CurrencyDto.Name)</th>
                <th>@nameof(CurrencyDto.IsoCode)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Currencies)
            {
                <tr>
                    <td>
                        Actions
                    </td>
                    <td>@currency.Id</td>
                    <td>@currency.Name</td>
                    <td>@currency.IsoCode</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

 bool IsOpen { get; set; }

    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
    protected override async Task OnInitAsync()
    {
        await Get();
    }
}

